bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
.idea/
.vs/
*.DotSettings.user
*.sln.DotSettings.user
environment.local.props
Thunderstore/*.zip
Nexus/*.zip
Thunderstore/STUWard_v*/
_tmp_*/
_PortablePals/
_TargetPortal/
_TargetPortal_*.cs
_kg_*.cs
ildasm_*.txt
ildasm_*.res
jotunn_*.txt
jotunn_*.res
